<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.wiki.mapper.Zlcat3Mapper">
  <resultMap id="BaseResultMap" type="com.qkm.wiki.domain.Zlcat3">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="cat1" jdbcType="VARCHAR" property="cat1" />
    <result column="cat2" jdbcType="VARCHAR" property="cat2" />
    <result column="cat3" jdbcType="VARCHAR" property="cat3" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cat1, cat2, cat3
  </sql>
  <select id="selectByExample" parameterType="com.qkm.wiki.domain.Zlcat3Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zlcat3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zlcat3
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from zlcat3
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.qkm.wiki.domain.Zlcat3Example">
    delete from zlcat3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qkm.wiki.domain.Zlcat3">
    insert into zlcat3 (id, cat1, cat2, 
      cat3)
    values (#{id,jdbcType=BIGINT}, #{cat1,jdbcType=VARCHAR}, #{cat2,jdbcType=VARCHAR}, 
      #{cat3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qkm.wiki.domain.Zlcat3">
    insert into zlcat3
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cat1 != null">
        cat1,
      </if>
      <if test="cat2 != null">
        cat2,
      </if>
      <if test="cat3 != null">
        cat3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cat1 != null">
        #{cat1,jdbcType=VARCHAR},
      </if>
      <if test="cat2 != null">
        #{cat2,jdbcType=VARCHAR},
      </if>
      <if test="cat3 != null">
        #{cat3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qkm.wiki.domain.Zlcat3Example" resultType="java.lang.Long">
    select count(*) from zlcat3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zlcat3
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cat1 != null">
        cat1 = #{record.cat1,jdbcType=VARCHAR},
      </if>
      <if test="record.cat2 != null">
        cat2 = #{record.cat2,jdbcType=VARCHAR},
      </if>
      <if test="record.cat3 != null">
        cat3 = #{record.cat3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zlcat3
    set id = #{record.id,jdbcType=BIGINT},
      cat1 = #{record.cat1,jdbcType=VARCHAR},
      cat2 = #{record.cat2,jdbcType=VARCHAR},
      cat3 = #{record.cat3,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qkm.wiki.domain.Zlcat3">
    update zlcat3
    <set>
      <if test="cat1 != null">
        cat1 = #{cat1,jdbcType=VARCHAR},
      </if>
      <if test="cat2 != null">
        cat2 = #{cat2,jdbcType=VARCHAR},
      </if>
      <if test="cat3 != null">
        cat3 = #{cat3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qkm.wiki.domain.Zlcat3">
    update zlcat3
    set cat1 = #{cat1,jdbcType=VARCHAR},
      cat2 = #{cat2,jdbcType=VARCHAR},
      cat3 = #{cat3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findcat"  resultType="com.qkm.wiki.resp.Zlcat3QueryResp">
   select `id`,`cat3` from zlcat3 where cat2 = #{cat,jdbcType=VARCHAR}
  </select>
</mapper>